<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is a basic weather application which uses mapbox.com and weatherstack.com to fetch data.</p>
        <img class="portrait" src="/img/robot.jpg">
    </div>
    
    {{>footer}}
</body>

</html>



